@media (max-width:1200px) {
  .navigationbar ul{
    background-color: green;
  }
  .intro1{
    width: 100%;
  }
  .pixel_text, .pixel_title{
    margin-left: 3%;
  }
  .pixel_title{
    width: 510px;
    font-size: 75px;
    text-align: left;
  }
  .pixel_text{
    font-size: 1.3em;
    float: left;
  }
  .pixel{
    margin-left: 0;
    transform: scale(0.96);
  }
  .bubble{
    transform: scale(0.99);
    margin-top: -100%;
    margin-left: 75%;
  }
}
/*@media (max-width:1139px){
  .navigationbar ul{
    background-color: purple;
  }
  .pixel_text, .pixel_title{
    margin-left: 3%;
  }
  .pixel_title{
    width: 510px;
    font-size: 75px;
    text-align: left;
  }
  .pixel_text{
    font-size: 1.3em;
  }
  .pixel{
    margin-left: 0;
  }
}*/
