.container{
  width: 100%;
  text-align: center;
}
.clear{
  clear: both;
}
body{
  padding: 0; margin: 0;
}
.navigationbar{
  position:fixed; z-index: 1;
  height: 50px;
  width: 100%;
}
.navigationbar ul{
  position:fixed;
  top: 0; width: 100%;
  list-style-type: none;
  margin: 0; padding: 0;
  overflow: hidden;
  background-color: rgba(06, 0, 0, 0.1);

}
.navigationbar li{
  font-family: "Poppins";
  font-weight: bold;
  float: left;
}
.navigationbar li a {
    display: block;
    color: #ededed;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navigationbar li a:hover{
    background-color: rgba(207,204,210,0.5);
}
/*.box{
  width: 200px; height: 200px;
  background-color: #ee6;
  display: inline-block;
}*/

/*.zoom{
    transform:scale(1.2,1.2);
}*/
.header{
  width: 100%; height: 100vh; z-index: 0;
  top: 50px;
  background: url(images/image6-web.jpg) center center;
  background-size: cover;
}
.name{
  font-family: "Cookie";
  font-size: 100px;
  color: white;
  /*color:#484e51;*/

  position: relative;
  margin: 0; padding: 0;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 900px;
}
.intro1{
  width: 100%; height: 600px;
  top: 50px;
  background: url(images/binary.png) center center;
  background-size: cover;
  /*background-color: #5e879b;*/
  text-align: center;
}
.pixel{
  height: 350px;
  position: relative;
  top: 100px;
}
.bubble{
  position: relative;
  top:-100px;
  width: 200px; height: 200px;
  opacity: 0;
}
.pixel_title{
  float: left;
  text-align: center;
  margin-left: 15%;
  margin-top: 10%;

  font-family: 'Lobster';
  font-size: 75px;
}
.pixel_text{
  width: 510px;
  font-family: 'Josefin Sans';
  font-size: 1.5em;


  text-align: left;
  margin-left: 15%;
  margin-top: -10%;
  margin-right: 0;
}
/*.intro2{
  width: 100%; height: 500px;
  top: 50px;
  background-color: #aa5566;
  text-align: center;
}
video{
  position: relative;
  width: 100%; height:auto;
  top: 0%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

}
.video_container{
  position: relative;
  top: 50%;
  transform: translate(0, -50%);

  width: 100%; height: inherit;
  overflow: hidden;
}
.video_text{
  color: black;
  font-size: 100px;
  z-index: 2;
  position: relative;
}*/
.musician{
  width: 100%; height: 500px;
  top: 50px;
  background: url('images/piano.jpg');
  background-size: cover;
  /*background-color: #006655;*/
}
.piano_title{
  margin:0; padding: 0;
  width: 600px;
  position: relative;
  top: 15%; left: 7%;
  text-align: left;

  color: white;
  font-family: 'Alfa Slab One';
  font-size: 100px;
}
.piano_text{
  margin:0; padding: 0;
  width:600px; height: 100px;
  margin-left: 7%; margin-top: 10%;
  text-align: left;

  font-family: 'Josefin Sans';
  font-size: 20px;
  color: white;
}
.footer{
  width: 100%; height: 250px;
}
.social_icons{
  position: relative;
  top:50%; transform: translate(0, -50%);
}
.icons{
  display:inline-block;
  height:60px;
  width:60px;
}
.magicClass{
 display:inline-block;
 height:60px;
 width:20px;
}
.footer img{
 position: relative;
 width: 50px;
}
.copyrights{
  position: relative;
  font-family: monospace;
  font-size: 14px;
  margin-top: 130px;
}
/*#facebook{
  position: relative;
  left: 500px;
}
#instagram{
  position: relative;
  left: 570px;
}
#twitter{
  position: relative;
  left: 640px;
}
#youtube{
  position: relative;
  left: 710px;
}
#github{
  position: relative;
  left: 780px;
}
*/
