html{
  width: 100%;
  }
.container{
  width: 100%;
  text-align: center;
}
.clear{
  clear: both;
}
body{
  width: 100%;
  padding: 0; margin: 0;
  background-color: #eee;
  font-family: "Roboto";
}
.navigationbar{
  position:fixed; z-index: 1000;
  height: 50px;
  width:100vw;
}
.navigationbar ul{
  position:fixed;
  top: 0; width: 100%;
  list-style-type: none;
  margin: 0; padding: 0;
  background-color: rgba(06, 0, 0, 0.1);
}
.navigationbar li{
  font-family: "Poppins";
  font-size: 16.25px;
  font-weight: bold;
  float: left;
}
.navigationbar li a {
    display: block;
    color: #ededed;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigationbar li a:hover{
    background-color: rgba(207,204,210,0.2);
}
.active{
  background-color: rgba(207,204,210,0.2);
}
/*.box{
  width: 200px; height: 200px;
  background-color: #ee6;
  display: inline-block;
}*/
/*.zoom{
    transform:scale(1.2,1.2);
}*/
.header{
  width: 100%; height: 100vh; z-index: 0;
  top: 50px;
  background: url(images/image6-web2.jpg) center center;
  background-size: cover;
  border-bottom: solid #006655 25px;
}
.name{
  font-family: "Cookie";
  font-size: 100px;
  color: white;
  /*color:#484e51;*/

  position: relative;
  margin: 0; padding: 0;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);

}
.intro1{
  width: 100%; height: 100vh;
  background: url(images/binary.png) center center;
  background-size: cover;
  background-attachment:fixed;
  /*background-color: #5e879b;*/
  text-align: center;
  border-bottom: solid #006655 25px;
}
.pixel{
  transform: scale(1.3);
  height: 350px;
  position: relative;


  margin-right: 2.5%;
  top: 20%;
}
.bubble{
  width: 200px; height: 200px;
  opacity: 100;
  float: right;
  position: relative;
  top: -35%;

  margin-right: 3.5%;

}
.pixel_title{

  float: left;
  text-align: center;
  margin-left: 5%;
  margin-top: 15%;
  transform: translate(0,-15%);

  font-family: 'Lobster';
  font-size: 90px;
}
.pixel_text{
  width: 50%;
  font-family: 'Josefin Sans';
  font-size: 1.5em;
  line-height: 130%;
  float: left;
  text-align: left;
  margin-left: 5%;
  margin-top: -3%;
}
.photos{
  width: 100%; height: 100vh;
  position: relative;

  border-bottom: solid #006655 25px;
}
.my-slider{
  width: 100%; height: 100vh;
  margin: 0; padding: 0;
  z-index: 0;
}
.photos-tint{
  width: inherit; height: inherit;
  font-family: "Droid Sans Mono";
  font-size: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);

  text-align: left;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 5% -3% -5% 3%;

}
.photos-title{
  font-family: "Droid Sans Mono";
  font-size: 40px;
  color: white;

  text-align: left;
  position: absolute;
  z-index: 1;
  margin: 0;
  left: 4%; top:10%;
  transform: translate(-4%, -10%);
}



.photos-text{
    font-family: "Josefin Slab";
    font-size: 15px;
    color: white;

    position: absolute;
    z-index: 1;
    margin: 0; padding: 0;
    top: 18%; left: 4%;
    transform: translate(-5%,-18%);
}
.musician_section{
  width: 100%; height: 100vh;
  top: 50px;
  background: url('images/piano.jpg');
  background-size: cover;
  background-attachment:fixed;
  /*background-color: #006655;*/
  border-bottom: solid #006655 25px;

}
.musician{
  margin:0; padding: 0;
  width: 50%;
  position: relative;
  top: 15%; left: 7%;
  text-align: left;

  color: white;
  font-family: 'Alfa Slab One';
  font-size: 6em;
}
.piano_text{
  margin:0; padding: 0;
  width:50%; 
  margin-left: 7%; margin-top: 10%;
  text-align: left;

  font-family: 'Josefin Sans';
  font-size: 25px;
  color: white;
}
.footer{
  width: 100%; height: 250px;
}
.social_icons{
  position: relative;
  top:50%; transform: translate(0, -50%);
}
.icons{
  display:inline-block;
  height:60px;
  width:60px;
}
.magicClass{
 display:inline-block;
 height:60px;
 width:20px;
}
.footer img{
 position: relative;
 width: 50px;
}
.copyrights{
  position: relative;
  font-family: monospace;
  font-size: 14px;
  margin-top: 120px;
}
/*#facebook{
  position: relative;
  left: 500px;
}
#instagram{
  position: relative;
  left: 570px;
}
#twitter{
  position: relative;
  left: 640px;
}
#youtube{
  position: relative;
  left: 710px;
}
#github{
  position: relative;
  left: 780px;
}
*/
